<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Shah Neng Chok</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwRXCavk4V6PBJi9elvmP7aFFtprS6SD6c1rQat6nJaPkfRK7cImHz1qQ+DqisyvmoDzSQVc6jJ8pgU2JuJAn/4A==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.63">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.36"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>ShahNeng.Chok@nextlabs.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>all</string>
        <string>SGDC remote access group</string>
        <string>SGDC All</string>
        <string>authenticated</string>
        <string>hudson-release</string>
        <string>Domain Users</string>
        <string>R&amp;D_SGDC</string>
        <string>Users</string>
        <string>hudson-pcv</string>
        <string>Release</string>
      </roles>
      <timestamp>1534146026896</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>